<h2>Nature</h2>
<p>
  Preserve and cherish the pale blue dot, it's the only home we've ever known."
  “The richness I achieve comes from Nature, the source of my inspiration.”
  “Tranquility, serenity, and beauty of nature taught me how to find happiness
  in life and in the silence of eternity.” “Storms make trees take deeper roots.
</p>
<img src="https://png.pngtree.com/artfonts/20180622/md/abstract_green_nature_fonts_254.jpg" class="img-responsive">
<p>Author:test@test.com</p>
<p>Date: 1 Jan 2021 </p>
<button>Edit</button> | <button>Delete</button>
<hr>